.footer{
    width: 100%;
    background:linear-gradient(235deg, rgba(255,255,255,0.5), rgba(255,255,255,0.7));
    backdrop-filter: blur(15px);
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    font-weight: 600;
    color: #012e4a;
    padding: 20px 0;
}
.footerText{
    border-top: 1px solid #000;
}