@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
}
h1{
  text-align: center;
  text-decoration: underline;
}
h3{
  margin-bottom: 0;
  text-align: center;
  color: #496f6f;
  text-decoration: underline;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.container{
  right: 0;
  left: 0;
  margin: auto;
  max-width: 1080px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 3rem;
  margin-bottom: 1rem;
}

::-webkit-scrollbar{
  width: 0;
}