.showTop{
    position: fixed;
    right: 20px;
    bottom: 60px;
    width: 50px;
    height: 50px;
    background-color: #ffffff8d;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    cursor: pointer;
}
.hideTop{
    opacity: 0;
}